.menu {
    list-style-type: none;
    background-image: linear-gradient(to right, blue, pink);
    padding: var(--margin-xl) var(--margin-xxl);
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: var(--padding-xl);
}

.menu li a:hover {
    background-color: darkblue;
}

.menu .account-btn {
    position: absolute;
    right: 20px;
}